//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

*, body, h1, h2, h3, h4, h5, p, a, span, .govuk-heading-m, .govuk-heading-l, .govuk-heading-xl, .govuk-heading-s, .govuk-list, .govuk-fieldset__legend, .govuk-label, .govuk-hint,  html, body, form, fieldset, table, tr, td, img, button  {
  font-family: "Helvetica", "Arial", sans-serif !important;
}




.govuk-button {
  background-color: #003078;
}


.govuk-button:hover {
  background-color: #05005a;
}

.option-toggle {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.option-toggle-select__list{
    float: right;
    margin-top: 1em;
    text-align: right;
}

.option-toggle-select__list-item {
    display: inline-block;
}

.option-toggle-select__list-item:not(:last-child):after, .footer-links-list:not(:last-child):after {
    border-right: .09375em solid #0b0c0c;
    content: "";
    display: inline-block;
    height: 1em;
    position: relative;
    top: .1875em;
}
