{% set link = 'index' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}

{% set explanationDescription = "A dedicated text label helps announce it in context - and having this visible rather than hidden in aria text helps the page work just as well for everyone." %}

{% set explanationLinks =  [
  {
    text: "Find out about text input on GOV.UK",
    href: "https://design-system.service.gov.uk/components/text-input/"
  }
]
%}


{% include "/" + folder +  "/accessible.html" %}
