{% if not link %}{% set link = 'original-explanation' %}{% endif %}
{% if not currentPage %}{% set currentPage = "original" %}{% endif %}
{% if not pageTitle %}{% set pageTitle = "Tell us why you left your studies" %}{% endif %}
{% set section = "Label position" %}

{% extends "layouts/bespoke.html" %}


{% block form %}

      <h1 class="govuk-heading-l">
      {{pageTitle}}
      </h1>

      <form class="form" action="/short-textinput" method="post">

        <p>Information</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>list item</li>
            <li>list item</li>
            <li>list item</li>
          </ul>

          <p>Information</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>list item</li>
              <li>list item</li>
              <li>list item</li>
            </ul>



            {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: ""
        }
      }) }}



{% endblock %}
