{% set link = 'original' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}
{% import '_vars.html' as vars %} {# this page has all the references for links #}


{% set explanationDescription = "This has a first line of 78 characters on larger screens, meaning it is within the comfortable maximum of 85 characters." %}

{% set explanationLinks =  [
  {
    text: vars['reference']['word-column-width-typography']['text'] ,
    href: vars['reference']['word-column-width-typography']['href']
  },
  {
    text: vars['reference']['word-column-smashing']['text'] ,
    href: vars['reference']['word-column-smashing']['href']
  }
]
%}

{% include "/" + folder +  "/accessible.html" %}
