{% set link = 'original' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}
{% import '_vars.html' as vars %} {# this page has all the references for links #}

{% set explanationDescription = "Simple hints will be read out as expected by screen readers. If the input needs significant guidance and links, it should be rewritten as a complex question." %}

{% set explanationLinks =  [
  {
    text: vars['reference']['legends']['text'] ,
    href: vars['reference']['legends']['href']
  },
  {
    text: vars['reference']['complex-questions']['text'] ,
    href: vars['reference']['complex-questions']['href']
  }

]
%}


{% include "/" + folder +  "/accessible.html" %}
