{% set link = 'index' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}

{% set explanationDescription = "Simple hints will be read out as expected by screen readers. If the input needs significant guidance and links, it should be rewritten as a complex question." %}

{% set explanationLinks =  [
  {
    text: "Making legends and labels headings on GOV.UK",
    href: "https://design-system.service.gov.uk/get-started/labels-legends-headings/"
  },
  {
    text: "Find out about complex question pages on GOV.UK",
    href: "https://design-system.service.gov.uk/patterns/question-pages/#asking-complex-questions-without-using-hint-text"
  }

]
%}


{% include "/" + folder +  "/accessible.html" %}
