{% set link = 'index' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}

{% set explanationDescription = "Giving people a separate point to read information helps the focus on one thing at a time." %}

{% set explanationLinks =  [
  {
    text: "Find out about question pages on GOV.UK",
    href: "https://design-system.service.gov.uk/patterns/question-pages/"
  },
  {
    text: "Interruption pages on the GOV.UK Design System backlog",
    href: "https://github.com/alphagov/govuk-design-system-backlog/issues/27"
  }
]
%}

{% include "/" + folder +  "/accessible.html" %}
