{% if not link %}{% set link = 'index-explanation' %}{% endif %}
{% if not currentPage %}{% set currentPage = "index" %}{% endif %}

{% set section = "Information" %}

{% extends "layouts/bespoke.html" %}


{% block form %}

      <h1 class="govuk-heading-l">
       Asking for information
      </h1>

 <p>Every service has at least one page where we ask the user to give us some information using a page with some radio button options on it</p>

  <ol class="govuk-list govuk-list--number">
    <li >Typical mistake we see (Original)</li>
    <li > <a href="index-explanation" rclass="govuk-link"> Why we think it's problematic (Original with explanation) </a> </li>
    <li > <a href="accessible" rclass="govuk-link"> More accessible version </a> </li>
    <li > <a href="accessible-explanation" rclass="govuk-link"> Why the accessible version is better (Accessible with explanation)
           </a> 
    </li>
     </ol> 
       
  




{% endblock %}
