{% set link = 'original' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}
{% import '_vars.html' as vars %} {# this page has all the references for links #}


{% set explanationDescription = "Structuring the page to have header, details and question helps screen readers, audio announcers and general ease of memory. Links will also be announced by a screen reader before the question." %}

{% set explanationLinks =  [
  {
    text: vars['reference']['complex-questions']['text'] ,
    href: vars['reference']['complex-questions']['href']
  }
]
%}

{% include "/" + folder +  "/accessible.html" %}
