{% if not link %}{% set link = 'original-explanation' %}{% endif %}
{% if not currentPage %}{% set currentPage = "original" %}{% endif %}
{% if not pageTitle %}{% set pageTitle = "Do you know the gender of the goose?" %}{% endif %}
{% set section = "Long question" %}

{% extends "layouts/bespoke.html" %}


{% block form %}

      <h1 class="govuk-heading-l">
        {{pageTitle}}
      </h1>

<!--       <p>You can get help to figure out what type of goose it is with <a href="https://www.countryfile.com/wildlife/how-to-identify/guide-to-britains-geese-how-to-identify-and-where-to-see">guidance from BBC Countryfile.</a></P>
-->

<p>If you can tell the gender of the goose, this will help us monitor the gender mix of the goose population.</P>
  <p>A male goose is normally larger than a female goose, has a deeper honk and may be more agressive.</p>



        {{ govukRadios({
                 name: "higher-further-education",
                 fieldset: {
                   legend: {
                     text: "",
                     isPageHeading: false,
                     classes: "govuk-fieldset__legend--m"
                   }
                 },
                 items: [
                   {
                     value: "Yes",
                     text: "Yes"
                   },
                   {
                     value: "No",
                     text: "No"
                   }
                 ]
               }) }}




<!--

        {{ govukRadios({
                 name: "goose0types",
                 fieldset: {
                   legend: {
                     text: "",
                     isPageHeading: false,
                     classes: "govuk-fieldset__legend--m"
                   }
                 },
                 items: [
                   {
                     value: "White-fronted goose",
                     text: "White-fronted goose"
                   },
                   {
                     value: "Barnacle goose",
                     text: "Barnacle goose"
                   },
                   {
                     value: "Brent goose",
                     text: "Brent goose"
                   },
                   {
                     value: "Barnacle goose",
                     text: "Barnacle goose"
                   },
                   {
                     value: "Greylag goose",
                     text: "Greylag goose"
                   },
                   {
                     value: "Canada goose",
                     text: "Canada goose"
                   },
                   {
                     value: "Bean goose",
                     text: "Bean goose"
                   },
                   {
                     value: "Pink-footed goose",
                     text: "Pink-footed goose"
                   },
                   {
                     value: "Egyptian goose",
                     text: "Egyptian goose"
                   },
                   {
  divider: "or"
},
                   {
                     value: "Not sure",
                     text: "Not sure"
                   }
                 ]
               }) }}


-->

{% endblock %}
