{% if not link %}{% set link = 'accessible-explanation' %}{% endif %}
{% if not currentPage %}{% set currentPage = "accessible" %}{% endif %}
{% set pageTitle = "Tell us why you left your studies" %}
{% extends "/" + folder +  "/index.html" %}


{% block form %}

      <h1 class="govuk-heading-l">
{{pageTitle}}
      </h1>

      <form class="form" action="/short-textinput" method="post">

        <p>Information</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>list item</li>
            <li>list item</li>
            <li>list item</li>
          </ul>

          <p>Information</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>list item</li>
              <li>list item</li>
              <li>list item</li>
            </ul>



            {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: "Can you provide more detail?"
        }
      }) }}


{% endblock %}
