{% set pageTitle = "Asking for information" %}
{% extends "layouts/information-page.html" %}


{% block description %}



 <p>Example of both telling people information and asking them a question about it. </p>

 <p>People will go directly to the radio buttons - or their screen reader will take them directly to it - so the information hidden in the extra information above the question is invisible (invisible by habit for sighted users, invisible by screen reader behaviour for screen reader users).
 </p>


{% endblock %}
