{% if not link %}{% set link = 'index-explanation' %}{% endif %}
{% if not currentPage %}{% set currentPage = "index" %}{% endif %}
{% if not pageTitle %}{% set pageTitle = "What is your account number?" %}{% endif %}
{% set section = "Short textarea" %}

{% extends "layouts/bespoke.html" %}


{% block form %}

        {{ govukInput({
      label: {
        text: pageTitle,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      classes: "govuk-input--width-10",
      hint: {
        html: "<p>This is a paragraph of text.</p><p>This is another paragraph of text</p>"
      },
      id: "account-number",
      name: "accountNumber",
      inputmode: "numeric",
      spellcheck: false
    }) }}


{% endblock %}
