{% set link = 'accessible' %}
{% set currentPage = "index-explanation" %}

{% set explanationDescription = "This isn't a major accessibility issue but is working against an easy default of a fieldset and is a hacked version of a GOV.UK design system macro. If it needs multiple paragraphs and especially a link this is better as a complex question." %}

{% set explanationLinks =  [
  {
    text: "Find out about question pages on GOV.UK",
    href: "https://design-system.service.gov.uk/patterns/question-pages/"
  }
]
%}


{% include "/" + folder +  "/index.html" %}
