
{% set reference = {
   'legends' : {
     text: "Making legends and labels headings on GOV.UK Design System",
     href: "https://design-system.service.gov.uk/get-started/labels-legends-headings/"
   },
   'complex-questions' : {
     text: "Complex question pages on GOV.UK Design System",
     href: "https://design-system.service.gov.uk/patterns/question-pages/#asking-complex-questions-without-using-hint-text"
   },
   'question-pages' : {
     text: "Question pages on GOV.UK Design System",
     href: "https://design-system.service.gov.uk/patterns/question-pages/"
   },
   'form-structure' : {
     text: "Form structure on GOV.UK",
     href: 'https://www.gov.uk/service-manual/design/form-structure'
   },
   'interruption-pages': {
     text: "Interruption pages on the GOV.UK Design System backlog",
     href: "https://github.com/alphagov/govuk-design-system-backlog/issues/27"
   },
   'accordions': {
     text: "Accordions on the GOV.UK Design System",
     href: "https://design-system.service.gov.uk/components/accordion/"
   },
   'long-page' : { text: "Don't be afraid of the big long page by Amy Hupe and Caroline Jarrett",
     href: "https://amyhupe.co.uk/articles/dont-be-afraid-of-the-big-long-page/"
 },
 'nhs-forms' : {
   text: "NHS service manual on how to write good questions for forms",
   href: "https://service-manual.nhs.uk/content/how-to-write-good-questions-for-forms"
 },
 'text-input' : {
   text: "Text input on the GOV.UK Design System",
   href: "https://design-system.service.gov.uk/components/text-input/"
 },
 'tabs' : {
   text: "Tabs (when not to use this component)",
   href: "https://design-system.service.gov.uk/components/tabs/#when-not-to-use-this-component"
 },
 'tables' : {
     text: "Tables information in the GOV.UK Design System",
     href: "https://design-system.service.gov.uk/components/table/"
   },
'definition-lists' : {
     text: "Definition lists information on the GOV.UK Design System",
     href: "https://design-system.service.gov.uk/components/table/"
   },
  'dates' : {
     text: "GOV.UK content guide for dates",
     href: "https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style"
   }
 } %}
