{% set backHidden = true %}
{% extends "layouts/bespoke.html" %}

{% set pageName="Contribute" %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
    Contribute
    </h1>

<p>If you have comments, questions, or would like to contribute, then join us on <a href="https://github.com/vickytnz/accessibility-examples">our GitHub repository</a>.</p>


<h2 class="govuk-heading-m">
Contributors
</h2>
  <P>Built by Vicky Teinaki and Caroline Jarrett.</p>
<p>Content support from: Lori Thomson, Adam Liptrot, Ed Horsford.</p>
  <P>Hosted by Vicky Teinaki.</p>
</div>
</div>

{% endblock %}
