{% extends "layouts/bespoke.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/long-question">Long question</a> and <a href="/long-question-accessible">accessible long question version</a></li>
        <li><a href="/long-textarea">Long textarea</a> and <a href="/long-textarea-accessible">accessible textarea version</a></li>
        <li><a href="/short-textinput">Short text input</a> and <a href="/short-textinput-accessible">accessible text input version</a>
    </ul>

  </div>
</div>

{% endblock %}
