{% set backHidden = true %}
{% extends "layouts/bespoke.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full-width">
    </div>

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
    Learn how to fix common accessibility mistakes in forms
    </h1>

<P>Even when you design using the accessibility-focused <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a> (as documented in the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>), there are several pitfalls that can create accessibility issues.  
  </p>
  {{ govukWarningText({
    text: "This is a work in progress and is not yet fully accessible.",
    iconFallbackText: "Warning"
  }) }}

<h2 class="govuk-heading-m">Learn from examples</h2>


<p>Examples cycle through:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>a common accessibilty mistake</li>
  <li>the same version with an explanation</li>
  <li>a better version</li>
  <li>the better version with an explanation of the changes</li>
  </ul>

    <ul class="govuk-list">
    {% for item in title %} {# if you need to add a new section to this list, go to layouts/bespoke.html  and add them to 'title' array #}
<li><a href="/{{item.url}}/{{list[0].url}}"> {{ item.name }}</a></li>
{% endfor %}
</ul>

<h2 class="govuk-heading-m">Discuss or contribute</h2>

<p>If you have comments, questions, or would like to contribute, then join us on <a href="https://github.com/vickytnz/accessibility-examples">our GitHub repository</a>.</p>

<!--
</div>
</div>

<div class="govuk-grid-row">

{% for item in title %} {# if you need to add a new section to this list, go to layouts/bespoke.html  and add them to 'title' array #}
  <div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m"><a href="/{{item.url}}/{{list[0].url}}"> {{ item.name }}</a></h2>
    <ul class="govuk-list govuk-list--bullet">


{% for iterator in list %}
      <li><a href="/{{item.url}}/{{iterator.url}}">{{iterator.name  }}</a></li>
{% endfor %}
</ul>
  </div>
{% endfor %}
-->

</div>
</div>

{% endblock %}
