{% set backHidden = true %}
{% extends "layouts/bespoke.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full-width">
    </div>

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
    Learn how to fix common accessibility mistakes in forms
    </h1>

<P>Series of common accessibility mistakes on forms - even when designed using the accessibility-focused <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a> (as documented in the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>).
  </p>
  {{ govukWarningText({
    text: "This site is a work in progress and is currently not fully accessible.",
    iconFallbackText: "Warning"
  }) }}

<h2 class="govuk-heading-m">Examples</h2>

  <ul class="govuk-list">
    {% for item in title %} {# if you need to add a new section to this list, go to layouts/bespoke.html  and add them to 'title' array #}
<li><a href="/{{item.url}}/{{list[0].url}}"> {{ item.name }}</a></li>
{% endfor %}
</ul>


<p>Examples cycle through:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>a common mistake</li>
  <li>the same version with an explanation</li>
  <li>then a better version</li>
  <li>better version with an explanation</li>
  </ul>
<!--
</div>
</div>

<div class="govuk-grid-row">

{% for item in title %} {# if you need to add a new section to this list, go to layouts/bespoke.html  and add them to 'title' array #}
  <div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m"><a href="/{{item.url}}/{{list[0].url}}"> {{ item.name }}</a></h2>
    <ul class="govuk-list govuk-list--bullet">


{% for iterator in list %}
      <li><a href="/{{item.url}}/{{iterator.url}}">{{iterator.name  }}</a></li>
{% endfor %}
</ul>
  </div>
{% endfor %}
-->

</div>
</div>

{% endblock %}
