{% set pageTitle = "What university do you want to study at?" %}
{% set nextPage = "1a-router" %}
{% extends "/"  + folder +  "/" + subfolder + "/_BASE.html" %}

{% block form %}


{% if data['errors'] %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select university",
      href: "#types"
    } if data['errors']
  ]
}) }}

{% endif %}






{{ xGovukAutocomplete({
  id: "country",
  name: "country",
  value: data['country'],
  allowEmpty: false,
  showNoOptionsFound: true,
  label: {
    classes: "govuk-label--l",
    isPageHeading: true,
    text: pageTitle
  },
  errorMessage: { text: "Select university"
  } if data['errors'],
  items: [
  { text: "Aberdeen, University of" },
  { text: "Abertay University" },
  { text: "Aberystwyth University" },
  { text: "Academy of Contemporary Music" },
  { text: "Activate Learning" },
  { text: "Al-Maktoum College of Higher Education" },
  { text: "Amity University [IN] London" },
  { text: "Anglia Ruskin University" },
  { text: "Anglo European College of Chiropractic" },
  { text: "Arden University" },
  { text: "Arts University Bournemouth" },
  { text: "Arts University Plymouth" },
  { text: "ARU London" },
  { text: "Askham Bryan College" },
  { text: "Aston University" },
  { text: "Backstage Academy" },
  { text: "Bangor University" },
  { text: "Barking and Dagenham College" },
  { text: "Barnet and Southgate College" },
  { text: "​​​​​​​Barnfield College, Luton" },
  { text: "Barnsley College Higher Education" },
  { text: "Bath College" },
  { text: "Bath Spa University" },
  { text: "Bath, University of" },
  { text: "Bedford College" },
  { text: "Bedfordshire, University of" },
  { text: "BIMM University" },
  { text: "Birkbeck, University of London" },
  { text: "Birmingham City University" },
  { text: "BMet (Birmingham Metropolitan College)" },
  { text: "Birmingham, South and City College" },
  { text: "Birmingham, University College" },
  { text: "Birmingham, University of" },
  { text: "Bishop Auckland College" },
  { text: "Bishop Burton College" },
  { text: "Bishop Grosseteste University" },
  { text: "Blackburn College" },
  { text: "Blackpool and the Fylde College" },
  { text: "Bolton, University of" },
  { text: "Bournemouth and Poole College of Further Education" },
  { text: "Bournemouth University" },
  { text: "BPP University" },
  { text: "Bradford College" },
  { text: "Bradford, University of" },
  { text: "Bridgend College" },
  { text: "Bridgwater and Taunton College" },
  { text: "Brighton and Sussex Medical School" },
  { text: "Brighton, University of" },
  { text: "Bristol Old Vic Theatre School" },
  { text: "Bristol, City College" },
  { text: "Bristol, University of" },
  { text: "Bristol, University West of England, (UWE)" },
  { text: "British Academy of Jewellery" },
  { text: "British College of Osteopathic Medicine" },
  { text: "Brooklands College" },
  { text: "​​​​​​​Brunel University London" },
  { text: "Buckingham, University of" },
  { text: "Buckinghamshire New University" },
  { text: "Burnley College" },
  { text: "Bury College" },
  { text: "Calderdale College​​​​​​​" },
  { text: "Cambridge Regional College" },
  { text: "Cambridge School of Visual and Performing Arts" },
  { text: "Cambridge, University of" },
  { text: "Canterbury Christ Church University" },
  { text: "Canterbury College" },
  { text: "Cardiff and Vale College​​​​​​​" },
  { text: "Cardiff Metropolitan University" },
  { text: "Cardiff University" },
  { text: "Central Film School London" },
  { text: "Central Lancashire, University of" },
  { text: "Chester, University of" },
  { text: "Chesterfield College" },
  { text: "Chichester College Group​​​​​​​" },
  { text: "Chichester, University of" },
  { text: "City College Norwich (incorporating Easton College)​​​​​​​" },
  { text: "City, University of London" },
  { text: "Cliff College" },
  { text: "Colchester Institute, University Centre Colchester" },
  { text: "College of Agriculture, Food and Rural Enterprise" },
  { text: "Cornwall College" },
  { text: "Courtauld Institute of Art, University of London" },
  { text: "Coventry University" },
  { text: "Creative Arts, University for the" },
  { text: "Croydon, University Centre" },
  { text: "Cumbria, University of" },
  { text: "De Montfort University" },
  { text: "Derby, University of" },
  { text: "Duchy College" },
  { text: "Dundee, University of" },
  { text: "Durham University" },
  { text: "Durham, New College" },
  { text: "East Anglia, University of" },
  { text: "East London, University of" },
  { text: "East Riding College" },
  { text: "Easton and Otley College" },
  { text: "Edge Hill University" },
  { text: "Edinburgh Napier University" },
  { text: "Edinburgh, University of" },
  { text: "ESCP Europe Business School" },
  { text: "Essex, University of" },
  { text: "Estate Management, University College of" },
  { text: "European School of Osteopathy" },
  { text: "Exeter, University of" },
  { text: "Falmouth University" },
  { text: "Farnborough, University Centre" },
  { text: "Futureworks" },
  { text: "Glasgow Caledonian University" },
  { text: "Glasgow School of Art" },
  { text: "Glasgow, University of" },
  { text: "Gloucestershire College" },
  { text: "Gloucestershire, University of" },
  { text: "Glyndwr University, Wrexham" },
  { text: "Goldsmiths, University of London" },
  { text: "Greenwich, University of" },
  { text: "Grimsby, University Centre" },
  { text: "Guildford College" },
  { text: "Halesowen College" },
  { text: "Harper Adams University" },
  { text: "Hartpury University" },
  { text: "Havering College of Further and Higher Education" },
  { text: "Hereford College of Arts" },
  { text: "Heriot-Watt University" },
  { text: "Hertfordshire, University of" },
  { text: "Highlands and Islands, University of" },
  { text: "Holy Cross College" },
  { text: "Huddersfield, University of" },
  { text: "Hugh Baird College" },
  { text: "Hull College" },
  { text: "Hull, University of" },
  { text: "Hult International Business School" },
  { text: "Imperial College London" },
  { text: "Institute of Contemporary Music Performance" },
  { text: "Institute in Paris, University of London" },
  { text: "Istituto Marangoni London" },
  { text: "Keele University" },
  { text: "Kensington College of Business" },
  { text: "Kent, University of" },
  { text: "King's College London, University of London" },
  { text: "Kingston College" },
  { text: "Kingston University" },
  { text: "Lakes College West Cumbria" },
  { text: "Lancaster University" },
  { text: "Law, University of" },
  { text: "Leeds Beckett University" },
  { text: "Leeds City College" },
  { text: "Leeds College of Art" },
  { text: "Leeds College of Music" },
  { text: "Leeds Trinity University" },
  { text: "Leeds, University of" },
  { text: "Leicester, University of" },
  { text: "Lincoln College" },
  { text: "Lincoln, University of" },
  { text: "Liverpool College, City of" },
  { text: "Liverpool Hope University" },
  { text: "The London Institute of Banking & Finance (formerly ifs University College)" },
  { text: "Liverpool Institute for Performing Arts" },
  { text: "Liverpool John Moores University" },
  { text: "Liverpool, University of" },
  { text: "Llandrillo, Coleg" },
  { text: "London College of Communication, University of the Arts London" },
  { text: "London College of Fashion, University of the Arts London" },
  { text: "London College, UCK" },
  { text: "London Metropolitan University" },
  { text: "London School of Business and Management" },
  { text: "London School of Economics and Political Science, University of London" },
  { text: "London South Bank University" },
  { text: "London South East Colleges (Bromley College)" },
  { text: "London, GSM" },
  { text: "London, University of the Arts" },
  { text: "Loughborough College" },
  { text: "Loughborough University" },
  { text: "Manchester College" },
  { text: "Manchester Metropolitan University" },
  { text: "Manchester, The University of" },
  { text: "Menai, Coleg" },
  { text: "Middlesex University" },
  { text: "Milton Keynes College" },
  { text: "Mont Rose College of Management and Sciences" },
  { text: "Moulton College" },
  { text: "Myerscough College" },
  { text: "Nazarene Theological College" },
  { text: "New College of the Humanities" },
  { text: "Newcastle College" },
  { text: "Newcastle University" },
  { text: "Newham College London" },
  { text: "Newman University" },
  { text: "Norland College Limited" },
  { text: "North Lindsey College" },
  { text: "Northampton, University of" },
  { text: "Northbrook College Sussex" },
  { text: "Northern School of Art, The" },
  { text: "Northumbria University" },
  { text: "Norwich University of the Arts" },
  { text: "Norwich, City College" },
  { text: "Nottingham Trent University" },
  { text: "Nottingham, University of" },
  { text: "NPTC Group" },
  { text: "Oldham, University Campus" },
  { text: "Oxford Brookes University" },
  { text: "Oxford, University of" },
  { text: "Pearson College London (including Escape Studios)" },
  { text: "Peter Symonds College" },
  { text: "Peterborough, University Centre" },
  { text: "Plumpton College" },
  { text: "Plymouth College of Art" },
  { text: "Plymouth University" },
  { text: "Point Blank Ltd" },
  { text: "Portsmouth, University of" },
  { text: "Queen Margaret University, Edinburgh" },
  { text: "Queen Mary University of London" },
  { text: "Queen's University Belfast" },
  { text: "Ravensbourne" },
  { text: "Reading, University of" },
  { text: "Reaseheath, University Centre" },
  { text: "Regent's University London" },
  { text: "Richmond, The American International University in London" },
  { text: "Robert Gordon University" },
  { text: "Roehampton, University of" },
  { text: "Rose Bruford College" },
  { text: "Rotherham College of Arts and Technology" },
  { text: "Royal Academy of Dance" },
  { text: "Royal Academy of Music, University of London" },
  { text: "Royal Agricultural University" },
  { text: "Royal Central School of Speech and Drama" },
  { text: "Royal College of Music" },
  { text: "Royal Conservatoire of Scotland" },
  { text: "Royal Holloway, University of London" },
  { text: "Royal Northern College of Music" },
  { text: "Royal Veterinary College, University of London" },
  { text: "Royal Welsh College of Music and Drama" },
  { text: "Ruskin College" },
  { text: "Saint Andrews, University of" },
  { text: "Saint George's, University of London" },
  { text: "Saint Mark and Saint John, University of" },
  { text: "Salford, University of" },
  { text: "Sandwell College of Further and Higher Education" },
  { text: "Selby College" },
  { text: "Sheffield College" },
  { text: "Sheffield Hallam University" },
  { text: "Sheffield, University of" },
  { text: "Sir Gar, Coleg" },
  { text: "​​​​​​​SMB College Group" },
  { text: "SOAS, University of London" },
  { text: "Solihull College" },
  { text: "South Essex College" },
  { text: "South Thames College" },
  { text: "South Wales, University of" },
  { text: "Southampton Solent University" },
  { text: "Southampton, University of" },
  { text: "Sparsholt College, Hampshire" },
  { text: "Spurgeon's College" },
  { text: "SRUC Scotland’s Rural College" },
  { text: "St Helens, University Centre" },
  { text: "Staffordshire University" },
  { text: "Stirling, University of" },
  { text: "Stockport College" },
  { text: "Stranmillis University College" },
  { text: "Strathclyde, University of" },
  { text: "Suffolk, University of" },
  { text: "Sunderland, University of" },
  { text: "Surrey, University of" },
  { text: "Sussex Coast College Hastings" },
  { text: "Sussex, University of" },
  { text: "Swansea University" },
  { text: "Teesside University" },
  { text: "Trinity Laban Conservatoire of Music and Dance" },
  { text: "Trinity Saint David, University of Wales" },
  { text: "Truro and Penwith College" },
  { text: "Twickenham, Saint Mary's University" },
  { text: "UCL (University College London)" },
  { text: "Ulster, University of" },
  { text: "Wakefield College" },
  { text: "Warwick, University of" },
  { text: "Warwickshire College" },
  { text: "West Anglia, College of" },
  { text: "West London, University of" },
  { text: "West of Scotland, University of the" },
  { text: "Westminster, University of" },
  { text: "Wimbledon College of Arts, University of the Arts London" },
  { text: "Winchester, University of" },
  { text: "Wirral Metropolitan College" },
  { text: "Wolverhampton, University of" },
  { text: "Worcester, University of" },
  { text: "Writtle University College" },
  { text: "York College" },
  { text: "York Saint John University" },
  { text: "York, University of" }
  ]
}) }}





{% endblock %}
