{% set link = 'index' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}

{% set explanationDescription = "Using a definition list means that what is visually shown on the page is more aligned with what is read out on a screen reader, and the formatted month is easier to check." %}
{% import '_vars.html' as vars %} {# this page has all the references for links #}


{% set explanationLinks =  [
  {
    text: vars['reference']['definition-lists']['text'] ,
    href: vars['reference']['definition-lists']['href']
  },
  {
    text: vars['reference']['dates']['text'] ,
    href: vars['reference']['dates']['href']
  }
]
%}

{% include "/" + folder +  "/accessible.html" %}
