{% set link = 'index' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}

{% set explanationDescription = "Using a definition list means that what is visually shown on the page is more aligned with what is read out on a screen reader, and the formatted month is easier to check." %}

{% set explanationLinks =  [{
    text: "Definition lists information the GOV.UK Design System",
    href: "https://design-system.service.gov.uk/components/table/"
  },
  {
    text: "GOV.UK content guide for dates",
    href: "https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style"
  }
]
%}

{% include "/" + folder +  "/accessible.html" %}
