{% set link = 'accessible' %}
{% set currentPage = "index-explanation" %}

{% set explanationDescription = "This is coded as a table rather than a definition list. Table are far more 'noisy' for screen reader users as they read out row and columns, and the table caption doubling as a page title may also confuse sighted screen reader users. Months are also easier to check and avoid ambiguity if they are shown using words." %}

{% set explanationLinks =  [{
    text: "Tables information in the GOV.UK Design System",
    href: "https://design-system.service.gov.uk/components/table/"
  },
  {
    text: "Definition lists information the GOV.UK Design System",
    href: "https://design-system.service.gov.uk/components/table/"
  },
  {
    text: "GOV.UK content guide for dates",
    href: "https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style"
  }
]
%}

{% include "/" + folder +  "/index.html" %}
