{% set link = 'index' %}
{% set currentPage = "accessible" %}
{% extends "/" + folder +  "/index.html" %}


{% block form %}

      <h1 class="govuk-heading-l">
        [statement]
      </h1>

      <form class="form" action="/long-textarea" method="post">



          <ul class="govuk-list govuk-list--bullet">
            <li>list item</li>
            <li>list item</li>
            <li>list item</li>
          </ul>

  <p>More information is on <a href="/index">link</a>
        </p>

        {{ govukRadios({
                 name: "higher-further-education",
                 fieldset: {
                   legend: {
                     text: "[question name?]",
                     isPageHeading: false,
                     classes: "govuk-fieldset__legend--m"
                   }
                 },
                 items: [
                   {
                     value: "yes",
                     text: "Yes"
                   },
                   {
                     value: "no",
                     text: "No"
                   }
                 ]
               }) }}


{% endblock %}
