{% set link = 'original' %}
{% set currentPage = "accessible-explanation" %}
{% set explanation = "accessible" %}
{% set explanationDescription = "Showing information as a start helps everyone get the information - if there is too much information then the page needs to be redesigned." %}
{% import '_vars.html' as vars %} {# this page has all the references for links #}


{% set explanationLinks =  [

  {
    text: vars['reference']['nhs-forms']['text'] ,
    href: vars['reference']['nhs-forms']['href']
  },
  {
    text: vars['reference']['long-page']['text'] ,
    href: vars['reference']['long-page']['href']
  }
]
%}

{% include "/" + folder +  "/accessible.html" %}
