{% if not link %}{% set link = 'accessible-explanation' %}{% endif %}
{% if not currentPage %}{% set currentPage = "accessible" %}{% endif %}
{% set pageTitle = "Examples of complex information" %}

{% extends "/" + folder +  "/index.html" %}


{% block form %}



        <h1 class="govuk-heading-l">{{pageTitle}}</h1>





  <P>This information is here.</p>

  <h2 class="govuk-heading-m">Writing well for the web</h2>
  <P>This is the content for Writing well for the web.</p>

    <h2 class="govuk-heading-m">Writing well for specialists</h2>
    <P>This is the content for Writing well for specialists.</p>

      <h2 class="govuk-heading-m">Know your audience</h2>
      <P>This is the content for Know your audience.</p>

        <h2 class="govuk-heading-m">How people read</h2>
        <P>This is the content for How people read.</p>



{% endblock %}
