<!-- most of the logic (form action, button logic) is automatically inherited from layouts/bespoke.html -->
{% if not link %}{% set link = 'original-explanation' %}{% endif %} <!-- link to page with explanation - you shouldn't need to change this -->
{% if not currentPage %}{% set currentPage = "original" %}{% endif %}<!-- default page to link to - you shouldn't need to change this -->
{% if not pageTitle %}{% set pageTitle = "Bank details" %}{% endif %}<!-- page title that shows in tab title, you can also use {{pageTitle}} as a variable on this page so that it's consistent -->
{% set section = "Content (tabs)" %}<!-- title for section - what will also be shown tab title - this should be the name of the task. You only need to to this here and it will show up on the other pages  -->

{% extends "layouts/bespoke.html" %}


{% block form %}
<!-- add or delete whatever code you want in this section - if it is from the govuk design system it will automatically work. If it needs custom CSS you will need to add it to app/assets/sass/scss -->


<h1 class="govuk-heading-l">
  {{pageTitle}}
</h1>

{% set pastWeekHtml %}
<h2 class="govuk-heading-m">Current account balance</h2>
<p>Your balance is £1,929.32</p>
<p>Last updated 1 January 2025.</p>

{% endset -%}

{% set pastMonthHtml %}
<h2 class="govuk-heading-m">Savings account balance</h2>

<p>Your balance is £532.43</p>
<p>Last updated 1 January 2025.</p>
<p>This account has a 5% AER interest rate</p>


{% endset -%}

{% set pastYearHtml %}
<h2 class="govuk-heading-m">Credit card balance</h2>


<p>Your balance is -£231.99</p>
<p>Last updated 1 January 2025.</p>
<p>This account has a 9% AER interest rate</p>


{% endset -%}

{{ govukTabs({
  items: [

    {
      label: "Current account",
      id: "past-week",
      panel: {
        html: pastWeekHtml
      }
    },
    {
      label: "Savings account",
      id: "past-month",
      panel: {
        html: pastMonthHtml
      }
    },
    {
      label: "Credit card",
      id: "past-year",
      panel: {
        html: pastYearHtml
      }
    }
  ]
}) }}



{% endblock %}
