{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% set title = [
  {name: 'Accordions', url: "content"},
  {name: 'Lists and dates', url: "list"},
  {name: 'Long question', url: "long-question"},
  {name: 'Long text area', url: "long-textarea"},
  {name: 'Short text area', url: "short-textarea"},
  {name: 'Asking for information', url: "information"}
  ] %}


  {% set list = [
    {name: 'Original', url: 'index'},
    {name: 'Original with explanation', url: 'index-explanation'},
    {name: 'Accessible', url: 'accessible'},
    {name: 'Accessible with explanation', url: 'accessible-explanation'}
  ] %}


  {% block pageTitle %}
  {{ ' Explanation: ' if explanationDescription }}{{pageTitle}}{{ ' - ' if pageTitle }}{{section}}{{ ' - ' if section }}{{ serviceName }}
  {% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Example"
  },
  html: 'This is not a real service – it is just for training purposes.'
}) }}

{% block headIcons %}
<link rel="apple-touch-icon" sizes="180x180" href="{{asset_path}}favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{asset_path}}favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{asset_path}}favicon/favicon-16x16.png">
<link rel="manifest" href="{{asset_path}}favicon/site.webmanifest">
{% endblock %}

{% if not backHidden %}


<nav class="option-toggle" aria-label="Option switcher">
  <ul class="option-toggle-select__list">

    {% for item in list %}

    <li class="option-toggle-select__list-item">

{% if not (item.url == currentPage ) %}
      <a href="{{item.url}}" rclass="govuk-link">

        <span class="govuk-visually-hidden">Change to</span>
{% endif %}
        <span aria-hidden="true">{{item.name}}</span>
{% if not (item.url == currentURL ) %}           </a> {% endif %}
    </li>

{% endfor %}
  </ul>
</nav>

<!--
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
-->

{% endif %}
{% endblock %}




{% block header %}

<header class="govuk-header" style="background-color: #b81e70; " data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #6f72af">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
      {{serviceName}}
      </a>
    </div>
  </div>
</header>





{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/{{folder}}/{{link}}" method="post">

{% if explanationDescription %}

<!--
{{ govukErrorSummary({
  titleText: "Why this page is not accessible",
  errorList:  explanation
}) }}
-->

{% if explanation == "accessible" %}


<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Accessibility improvements
    </h2>
  </div>
  <div class="govuk-notification-banner__content">

    <P>{{explanationDescription}}</P>
    {% if explanationLinks %}
    <ul class="govuk-list">

      {% for item in explanationLinks %}
      {% if item.href %}
      <li>
        <a href="{{item.href}}">{{item.text | default("More details on GOV.UK")}}</a>
      </li>
      {% else %}
      {{item.text | default("More details on GOV.UK")}}
      {% endif  %}
    {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>

{% else %}


<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      Accessibility problems with this page
    </h2>
    <div class="govuk-error-summary__body">
      <P>{{explanationDescription}}</P>
      {% if explanationLinks %}
      <ul class="govuk-list govuk-error-summary__list">

        {% for item in explanationLinks %}
        {% if item.href %}
        <li>
          <a href="{{item.href}}">{{item.text | default("More details on GOV.UK")}}</a>
        </li>
        {% else %}
        {{item.text | default("More details on GOV.UK")}}
        {% endif  %}
{% endfor %}
      </ul>
{% endif %}
    </div>
  </div>
</div>


{% endif %}
{% endif %}

{% block form %}



{% endblock %}

{% if link == "index-explanation" %}{% set next = " to accessibility problems" %}{% elif  link == "accessible"  %}{% set next = " to more accessible version" %}{% elif  link == "accessible-explanation"  %}{% set next = " to explanation of improvements" %}{% else %}{% set next = " to original" %}{% endif %}

        {{ govukButton({
          text: "Go" + next
        }) }}

      </form>
<p><a href="/index">Go to home page </a></p>
    </div>
  </div>
{% endblock %}

{% block footer %}
<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section govuk-grid-column-two-thirds" >
        <h2 class="govuk-footer__heading govuk-heading-m">Links</h2>


          <ul class="govuk-footer__list"> <!-- govuk-footer__list--columns-2" -->

        {% for item in title %}
          <li class="govuk-footer__list-item "> {{ item.name }}:

        {% for iterator in list %}
              <a href="/{{item.url}}/{{iterator.url}}">{{iterator.name  }}</a>
        {% endfor %}{% endfor %}
        </li>


              </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">Notes</h2>
    <!--    <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a href="/manage-prototype">Manage your prototype</a>
          </li>
          </ul>
      </div> -->

      <P class="govuk-footer__meta-custom">Series of common accessibility mistakes on forms as compiled by Vicky Teinaki and Lori Thompson. Source code is available as a <a href="https://github.com/vickytnz/accessibility-examples">Github repository</a>.</p>

    </div>




  </div>
</footer>

{% endblock %}
